
<h3 class="judul-pesan">Cari Hotel keinginan Anda</h3>
<div class="tujuan">
  <label for="">Kota, tujuan, atau nama hotel</label>
  <div class="inputbox">
    <i class="fas fa-search"></i>
    <input type="text" placeholder="Kota, hotel, tempat wisata">
  </div>
</div>
<div class="chek in">
  <label for="">Check-in:</label>
  <div class="box-chek">
    <input type="date">
  </div>
</div>
<div class="chek out">
  <label for="">Check-out:</label>
  <div class="box-chek">
    <input type="date">
  </div>
</div>
<div class="tamu">
  <label for="">Jumlah Tamu</label>
  <div class="inputbox tamu">
    <i class="fas fa-user"></i>
    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
</div>
<div class="kamar">
  <label for="">Jumlah Kamar</label>
  <div class="inputbox kamar">
    <i class="fas fa-bed"></i>
    <select>
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
      <option>7</option>
      <option>8</option>
      <option>9</option>
      <option>10</option>
    </select>
  </div>
</div>
<div class="cari">
  <button>
    <i class="fas fa-search"></i>
    Cari Hotel
  </button>
</div>