*{
    margin: 0;
    padding: 0;
}

/* header */
header{
    height: 100vh;
    display: grid;
    background-image: url(img/travel1.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    animation: background-header 15s ease 3s infinite;
}
@keyframes background-header {
    0%{
        background-image: url(img/travel1.jpg);
    }
    33%{
        background-image: url(img/travel4.jpg);
    }
    67%{
        background-image: url(img/travel3.jpg);
    }
}
header .atas{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
header .atas h1{
    cursor: default;
}
header .atas .tombol-login{
    width: 100px;
    background: transparent;
    border: 2px solid white;
    border-radius: 20px;
    font-weight: 500;
    color: #fff;
    padding: 3px 0;
}
header .atas .tombol-login:hover{
    background-color: #fff;
    color: #000;
}
header .main{
    margin-top: 25vh;
    text-align: center;
}
header .main h1{
    font-size: 60px;
    cursor: default;
}
header .main p{
    font-size: 20px;
    cursor: default;
}
/* pencarian */
.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background-color: #fff;
    padding: 3px;
    overflow: hidden;
    margin: auto;
}
.input-group .form-control{
    border: 0;
    box-shadow: none !important;
}
.input-group .input-group-text{
    width: 100px;
    background-image: linear-gradient(skyblue, rgb(37, 148, 192));
    border-radius: 30px;
    border: none;
    color: #fff;
    font-weight: 400;

}
/* responsive header */
/* mobile */
@media screen and (max-width: 425px){
    header .atas h1{
        font-size: 1.3em;
    }
    header .atas .tombol-login{
        width: 70px;
        padding: 0;
        font-size: .9em;
    }
    header .main h1{
        font-size: 36px
    }
    header .main p{
        font-size: 12px
    }
}
@media screen and (max-width: 320px){
    header .atas h1{
        font-size: 1.1em;
    }
    header .atas .tombol-login{
        width: 60px;
        padding: 0;
        font-size: .8em;
    }
    header .main h1{
        font-size: 30px
    }
    header .main p{
        font-size: 13px
    }
}




/* Pemesanan */
.pemesanan{
    background-image: linear-gradient(rgba(161, 243, 227, 0.281),white);
    padding-top: 50px;
    padding-bottom: 50px;
}
.pemesanan .container{
    box-sizing: border-box;
    /* border: 1px solid black; */
    padding: 0 0;
}
/* header pemesanan */
.pemesanan .container .top{
    background-color: #edeff1;
    display: flex;
    justify-content: space-evenly;
    padding: 0 10%;
}
.pemesanan .container .top button{
    border: none;
    background: transparent;
    padding: 2px 15px;
    font-size: 20px;
    font-weight: 500;
    outline: none;
}
.pemesanan .container .top button:hover{
    background-color: lightblue;
    color: white;
}
.pemesanan .container .top button i{
    margin-right: 10px;
}
/* content pemesanan */
.pemesanan .container .content{
    background-color: white;
    border-left: 1px solid silver;
    border-right: 1px solid silver;
    border-bottom: 1px solid silver;
    padding: 10px 5% 20px 5%;
    box-sizing: border-box;
    /* text-align: center; */
    font-size: 16px;
    font-weight: 500;
    display: grid;
    row-gap: 5px;
    column-gap: 10%;
    grid-template-areas:    'judul judul judul judul judul judul'
                            'tujuan tujuan tujuan tujuan tujuan tujuan'
                            'jmlTamu jmlTamu jmlTamu jmlKamar jmlKamar jmlKamar'
                            'chek-in chek-in chek-in chek-out chek-out chek-out'
                            'dewasa dewasa anak anak bayi bayi'
                            'ddewasa ddewasa ddewasa bbayi bbayi bbayi'
                            'cari cari cari cari cari cari';
}
.pemesanan .container .content h1{grid-area: judul;}
.pemesanan .container .content .tujuan{grid-area: tujuan;}
.pemesanan .container .content .tamu{grid-area: jmlTamu;}
.pemesanan .container .content .kamar{grid-area: jmlKamar;}
.pemesanan .container .content .chek-in{grid-area: chek-in;}
.pemesanan .container .content .chek-out{grid-area: chek-out;}
.pemesanan .container .content .cari{grid-area: cari;}
.pemesanan .container .content .dewasa{grid-area: dewasa;}
.pemesanan .container .content .anak{grid-area: anak;}
.pemesanan .container .content .bayi{grid-area: bayi;}
.pemesanan .container .content .ddewasa{grid-area: ddewasa;}
.pemesanan .container .content .bbayi{grid-area: bbayi;}
.pemesanan .container .content h1{
    text-align: center;
}
.pemesanan .container .content .box{
    border: 1px solid silver;
    border-radius: 3px;
    display: flex;
    padding: 5px 5px;
    box-sizing: border-box;
    align-items: center;
}
.pemesanan .container .content button{
    border: none;
    background-color: skyblue;
    padding: 5px;
    border-radius: 5px;
    color: white;
    font-weight: 600;
    font-size: 18px;
}
.pemesanan .container .content button:hover{
    opacity: 0.8;
}
.pemesanan .container .content input, 
.pemesanan .container .content select{
    width: 100%;
    border: none;
    outline: none;
}
.pemesanan .container .content i{
    margin-right: 5px;
}

.biru{
    color: white;
    background-color: lightblue !important;
}

.pesan-active{
    display: grid;
}
.pesan-nonActive{
    display: none !important;
}

/* responsive mobile */
@media screen and (max-width:425px) {
    .pemesanan{
        padding-top: 0;
    }
    .pemesanan .container .top{
        padding: 0;
        justify-content: space-between;
    }
    .pemesanan .container .top button{
        font-size: 16px;
    }
    .pemesanan .container .content{
        border: none;
        padding: 5px;
        column-gap: 3%;
        /* grid-template-areas:'judul'
                            'tujuan'
                            'jmlTamu'
                            'jmlKamar'
                            'chek-in'
                            'chek-out'
                            'dewasa'
                            'anak'
                            'bayi'
                            'ddewasa'
                            'bbayi'
                            'cari'; */
    }
    .pemesanan .container .content .box{
        padding: 2px 5px;
    }
}
@media screen and (max-width: 320px) {
    .pemesanan .container .content{
        grid-template-areas:'judul judul'
                            'tujuan tujuan'
                            'jmlTamu jmlKamar'
                            'chek-in chek-in'
                            'chek-out chek-out'
                            'dewasa dewasa'
                            'anak bayi'
                            'ddewasa bbayi'
                            'cari cari';
    }
    .pemesanan .container .content h1{
        font-size: 1.2em;
    }
}




/* Kota Populer */
.kota-populer{
    background-color: rgba(192, 192, 192, 0.164);
    padding: 50px 0;
}
.kota-populer .container{
    padding: 0;
    box-sizing: border-box;
}
.kota-populer .container .top-kota{
    background-color: rgba(192, 192, 192, 0.445);
    border-left: 15px solid skyblue;
    padding: 2px 20px;
}
.kota-populer .container .content-kota{
    border: 1px solid silver;
    border-top: none;
    padding: 25px 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    /* display: grid;
    grid-template-areas:'big big big big box box'
                        'box box big big big big'
                        ;
    grid-template: ; */
}
.kota-populer .container .content-kota .box{
    /* width: 350px; */
    flex: 26.5%;
    height: 250px;
    /* border: 1px solid black; */
    color: rgb(248, 240, 240);
    margin-bottom: 20px;
    position: relative;
    margin: 10px 15px;
    background-size: cover;
    background-position: center ;
}
.kota-populer .container .content-kota .box:hover{
    opacity: .7;
}
.kota-populer .container .content-kota .big{
    /* width: 700px; */
    flex: 60%;
}
.kota-populer .container .content-kota .box .namaKota{
    position: absolute;
    top: 10px;
    left: 20px;
    text-transform: capitalize;
}
.kota-populer .container .content-kota .box .harga{
    /* display: none; */
    position: absolute;
    top: 45px;
    left: 20px;
}
.kota-populer .container .content-kota .box .jmlHotel{
    /* display: none; */
    position: absolute;
    bottom: 20px;
    right: 20px;
    border: 1px solid white;
    border-radius: 3px;
    padding: 2px 5px;
}

/* responsive */
/* tablet */
@media screen and (max-width:768px) {
    .kota-populer .container .content-kota .box{
        flex: 40%;
    }
    .kota-populer .container .content-kota .big{
        flex: 100%;
    }
}
/* handphone */
@media screen and (max-width: 425px) {
    .kota-populer{
        padding: 0 0;
    }
    .kota-populer .container .content-kota{
        padding: 0 0;
    }
    .kota-populer .container .content-kota .box{
        flex: 100%;
        margin: 10px 0px;
    }.kota-populer .container .content-kota .box:nth-child(1){
        margin-top: 0;
    }
}




/* Penilaian Pengguna */
.penilaian{
    margin: 50px 0;
    text-align: center;
}
.content-penilaian{
    /* display: flex;
    flex-wrap: wrap;
    justify-content: space-around; */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: skyblue; */
}
.box-penilaian{
    box-sizing: border-box;
    text-align: center;
    /* width: 20%; */
    /* background-color: #fff; */
    padding: 0 1%;
    margin: 10px 5px;
    height: min-content;
    border-radius: 10px;
    transition: all 300ms ease;
}
.box-penilaian .foto-penilai{
    border-radius: 50%;
    width: 80px;
    height: 80px;
    /* margin: 0 0 20px 0; */
}
.box-penilaian .penilaian-pengguna{
    transition: all 300ms;
    margin-top: 10px;
    /* border-radius: 0 0 10px 10px;
    padding-bottom: 20px; */
}
.box-penilaian .penilaian-pengguna::before{
    content: '\201d';
    display: block;
    font-size: 100px;
    font-family: sans-serif;
    line-height: 0;
    padding-top: 50px;
    color: skyblue;
}
.hide-penilaian{
    display: none;
}
.show-box{
    border: 0 solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.2);
}

/* Responsive Penilaian */
/* MObile */
@media screen and (max-width: 425px) {
    .penilaian .container{
        padding: 0;
    }
    .content-penilaian{
        grid-template-columns: 1fr;
        width: 100%;
    }
    .box-penilaian{
        margin: 10px 0;
        border-radius: 0;
    }
}







/* Footer */
.footer{
    background-image: linear-gradient(skyblue, blue);
    padding: 50px 0;
    color: white
}
.footer ul{
    list-style-type: none;
    padding-left: 0;
}
.footer h4{
    margin-bottom: 20px;
}
.footer p,
.footer ul{
    font-size: .8em;
}
.footer ul li{
    margin-bottom: 20px;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer i{
    margin-right: 20px;
}
.footer a:hover{
    color: white;
}









